mwdblib==4.7.0
flask_sqlalchemy==2.4.1
flask==2.0.3
psycopg2-binary==2.9.11
rq==2.6.1
rq-dashboard==0.8.6
rq-scheduler==0.14.0
redis==7.2.0
PySocks==1.7.1
sqlmigrate==1.0.0
bs4==0.0.1
dateparser==0.7.6
prometheus_client==0.9.0
Werkzeug==2.2.2
typed-config==2.0.3
