{% from "macros/utils.html" import showtime, cap_length, mtracker_url %}
{% from "macros/status.html" import show_bot_last_logs %}

{% macro bots_table(rows) %}
<table class="table">
  <tr>
      <th>bot</th>
      <th>family</th>
      <th>last error</th>
      <th>status</th>
      <th>next execution</th>
      <th>actions</th>
  </tr>
  {% for entity in rows %}
  <tr>
    <td><a href="{{url_for('bot', bot_id=entity.bot_id)}}">{{entity.name}}</a></td>
    <td><a href="{{url_for('bots', family=entity.family)}}">{{entity.family}}</a></td>
    <td>{{cap_length(entity.last_error, 60)}}</td>
    <td id="status-{{entity.bot_id}}">
      {{show_bot_last_logs(entity.status, entity.bot_id)}}
      {% if entity.status == 'failing' %}({{entity.failing_spree}}){% endif %}
    </td>
    <td>
      {% if entity.status != 'crashed' and entity.status != 'archived' %}
      {{showtime(entity.next_execution)}}
      {% endif %}
    </td>
    <td>
      <span class="btn-group btn-group-xs" role="group">
        {% if entity.status != 'archived' %}
        <button
            class="btn btn-default action-btn"
            data-bot-id="{{entity.bot_id}}"
            data-action="archive">
            archive
        </button>
        {% endif %}

        {% if entity.status != 'inprogress' %}
        <button
            class="btn btn-default action-btn"
            data-bot-id="{{entity.bot_id}}"
            data-action="rerun">
            rerun
        </button>
        {% endif %}
      </span>
    </td>
  </tr>
  {% endfor %}
</table>
{% endmacro %}
