{% from "macros/status.html" import showstatus, showlogs %}

{% macro trackers_table(rows) %}
<table class="table">
  <tr>
      <th class="col-md-1">tracker</th>
      <th class="col-md-2">family</th>
      <th class="col-md-6">static config</th>
      <th class="col-md-3">bots</th>
  </tr>
  {% for entity in rows %}
  <tr>
    <td><a href="{{url_for('tracker', tracker_id=entity.tracker_id)}}">{{entity.tracker_id}}</a></td>
    <td><a href="{{url_for('trackers', family=entity.family)}}">{{entity.family}}</a></td>
    <td><a class="text-monospace" href="{{entity.config_url}}">{{entity.config_hash}}</a></td>
    <td>
      {% for bot in entity.bots %}
      <a href="{{url_for('bot', bot_id=bot.bot_id)}}">{{showlogs(bot.status, bot.bot_id, text=bot.name)}}</a><br>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endmacro %}
